* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #000000;
    background-color: #2e2e2e;
}

.carousel__window {
    border-radius: 10px;
    overflow: hidden;
    margin: 2vh 5vw;
}

.carousel-slides {
    height: 100vh;
    display: flex;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    line-height: 0;
}

.carousel__item {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1:checked~.carousel__window .carousel-slides {
    margin-left: 0;
}

#img2:checked~.carousel__window .carousel-slides {
    margin-left: -100%;
}

#img3:checked~.carousel__window .carousel-slides {
    margin-left: -200%;
}

#img4:checked~.carousel__window .carousel-slides {
    margin-left: -300%;
}

#img5:checked~.carousel__window .carousel-slides {
    margin-left: -400%;
}


#img1:checked~.carousel__bottom .item_desc_list {
    margin-left: 0;
}

#img2:checked~.carousel__bottom .item_desc_list {
    margin-left: -100%;
}

#img3:checked~.carousel__bottom .item_desc_list {
    margin-left: -200%;
}

#img4:checked~.carousel__bottom .item_desc_list {
    margin-left: -300%;
}

#img5:checked~.carousel__bottom .item_desc_list {
    margin-left: -400%;
}



#img1:checked ~ .carousel__bottom .control-1,
#img2:checked ~ .carousel__bottom .control-2,
#img3:checked ~ .carousel__bottom .control-3,
#img4:checked ~ .carousel__bottom .control-4,
#img5:checked ~ .carousel__bottom .control-5 {
    border: 0.4vh solid #4269b1;
	background: #363636;
    width: 2.3vh;
    height: 2.3vh;
    margin: 0.8vh 0.8vh;
    
}

#img1:checked ~ .carousel__bottom .control-1:hover,
#img2:checked ~ .carousel__bottom .control-2:hover,
#img3:checked ~ .carousel__bottom .control-3:hover,
#img4:checked ~ .carousel__bottom .control-4:hover,
#img5:checked ~ .carousel__bottom .control-5:hover {
    border: 0.4vh solid #ffffff;
}


#item-1 {
    background-image: url(./assets/1.jpg);
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
}

#item-2 {
    background-image: url(./assets/2.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

#item-3 {
    background-image: url(./assets/3.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

#item-4 {
    background-image: url(./assets/4.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

#item-5 {
    background-image: url(./assets/5.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}


.carousel__bottom {
    display: flex;
    justify-content: space-between;
    height: 13vh;
    margin: 2vh 5vw;
}
.item_desc_wrap {
    width: 73vw;
    overflow: hidden;
    height: inherit;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
}

.item_desc_list {
    display: flex;
    height: 10vh;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
}

.item_desc {
    width: 73vw;
}


.control {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5vh;
}

.radio-input {
	display: none;
}


.control label {
	display: inline-block;
	cursor: pointer;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: #4269b1;
	user-select: none;
    text-decoration: none;
    border: 1vh solid #2e2e2e;
}


.control label:hover {
    background-color: #ffffff;
}  



@media (max-width: 1290px) {

    .item_desc_wrap {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .carousel__bottom {
        flex-direction: column;
        align-items: center;
        height: 15vh;
        margin: 2vh 5vw;
    }

    .item_desc_wrap {
        width: 90vw;
        margin-bottom: 1vh;
    }

    .control {
        justify-content: center;
        width: 70%;
    }

    .item_desc {
        width: 100vw;
    }
}


@media (max-width: 570px) {

    .item_desc_wrap {
        font-size: 0.8rem;
    }

    .carousel__bottom {
        height: 16vh;
        margin: 2vh 5vw;
    }

    .item_desc_list {
        height: 12vh;
    }

}